:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  /*top: 0;*/
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 253, 253);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
  color: black;
}

.search-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 60px;
}
#searchInput {
  border: 1px solid black;
  margin-left: 50px;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#resetButton {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#resetButton:hover {
  background-color: #45a049;
}

.message {
  background-color: rgb(237, 150, 150);
  color: rgb(44, 40, 40);
  padding: 10px;
  border-radius: 5px;
  height: 40%;
  width: 400px;
  text-align: center;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 0px;
}
#imageResults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 350px;
  grid-gap: 10px;
  gap: 5px;
  margin-top: 100px;
  margin-bottom: 0px;
  justify-items: center;
  object-fit: contain;
  align-items: center;
  height: 100%;
}

.photo {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  width: auto;
  height: auto;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  cursor: pointer;
}

.photo:hover {
  transform: scale(1.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

footer {
  color: grey;
  font-size: smaller;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10 px;
  padding: 10px;
  background-color: #f1f1f1;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .message {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
    font-size: small;
    padding: 10px;
    background-color: rgb(237, 150, 150);
    color: black;
    z-index: 1;
  }
  .search-input-container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
  }
  #searchInput {
    margin-left: 0px;
    width: 100%;
    margin-right: 40px;
  }
  #imageResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
  }

  .photo {
    width: auto;
    height: auto;
    object-fit: cover;
  }

  footer {
    color: grey;
    font-size: smaller;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 60px;
    padding: 5px;
    background-color: #f1f1f1;
    flex-shrink: 0;
  }
}
